.modal_btn {
  width: 100px;
  font-size: 14px;
  margin-top: 50px;
}

.create_tracker_input {
  width: 100%;
}
.create_tracker_modal {
  width: 350px !important;
  height: 350px !important;
}

.p-float-label {
  margin-top: 35px;
}

.input-error {
  border-color: #fb654e !important;
  box-shadow: 0 0 0 3px rgba(243, 181, 171, 0.5) !important;
}
